
[Unit]
Description=Symbol Rest Gateway
Requires=network.target symbol-mongo.service
After=network.target symbol-mongo.service

[Service]
Type=idle
ExecStart=/usr/bin/npm start ./resources/rest.json
Restart=on-failure
RestartSec=2
User=symbol
Group=symbol
WorkingDirectory=/opt/symbol-node/rest
StandardOutput=journal
StandardError=journal
LimitNOFILE=65536
UMask=077

[Install]
WantedBy=multi-user.target
