[Unit]
Description=Symbol MongoDB Initialize (run once after mongo)
Wants=network.target
After=network.target symbol-mongo.service

[Service]
Type=oneshot
User=symbol
Group=symbol
WorkingDirectory=/opt/symbol-node/scripts/mongo
ExecStart=/opt/symbol-node/scripts/init-mongo.bash
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target