[Unit]
Description=Symbol Server
Wants=symbol-recovery.service
After=network.target symbol-recovery.service
Requires=network.target

[Service]
Type=idle
ExecStart=/opt/symbol-node/bin/catapult.server .
KillSignal=SIGINT
Restart=on-failure
RestartSec=2
TimeoutStopSec=300
User=symbol
Group=symbol
WorkingDirectory=/opt/symbol-node
Environment="LD_LIBRARY_PATH=/opt/symbol-node/deps"
StandardOutput=journal
StandardError=journal
LimitNOFILE=65536
UMask=077

[Install]
WantedBy=multi-user.target
