[Unit]
Description=Symbol Server
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/opt/symbol-node/bin/catapult.server .
KillSignal=SIGINT
Restart=on-failure
RestartSec=2
TimeoutStopSec=300
User=symbol
Group=symbol
WorkingDirectory=/opt/symbol-node
Environment="LD_LIBRARY_PATH=/opt/symbol-node/deps"
Environment="OPENSSL_MODULES=/opt/symbol-node/deps/ossl-modules"
StandardOutput=journal
StandardError=journal
LimitNOFILE=65536
UMask=077

[Install]
WantedBy=multi-user.target
