[Unit]
Description=Symbol MongoDB
Wants=network.target
After=network.target

[Service]
Type=forking
PIDFile=/run/mongo/symbol-db.pid
ExecStart=/usr/bin/mongod --dbpath=data/mongo --wiredTigerCacheSizeGB 2 --pidfilepath /run/mongo/symbol-mongo.pid --fork --syslog
KillSignal=SIGINT
User=symbol
Group=symbol
WorkingDirectory=/opt/symbol-node
StandardOutput=journal
StandardError=journal
LimitNOFILE=65536
UMask=077

[Install]
WantedBy=multi-user.target
